<!DOCTYPE html>
<html ng-app='blog'>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>

    <link href = "{{ asset('bundles/photobloggerphoto/css/style.css') }}" rel = "stylesheet">

    <title>Photoblog</title>
    <meta charset="UTF-8">

</head>

<body>
<script src="{{ asset('bundles/photobloggerphoto/js/emailSender.js')}}"></script>
<script src="{{ asset('bundles/photobloggerphoto/js/java.js')}}"></script>

<header>
    <h1>Welcome</h1>
    <nav role='navigation'>
        <ul>
            <li><a class="link-1 entypo-home active" href="#home"></a></li>
            <li><a class="link-2 entypo-picture " href="#clients"></a></li>
            <li><a class="link-3 entypo-user" href="#about"></a></li>
            <li><a class="link-4 entypo-mail" href="#contact-us"></a></li>
            <li><a class="link-6 entypo-home " href="{{ path('fos_user_security_logout') }}"></a></li>
        </ul>
    </nav>
</header>

<section id="home">
    <h2>Home</h2>
    <div id ="click">
    </div>

 </section>
<section id="clients">
    <h2>Clients</h2>
 </section>
<section id="about">
    <h2>About</h2>


 </section>
<section id="contact-us">
    <h2>Contact Me</h2>
    {% verbatim %}
        <div id="contact" class="contact" data-ng-controller="ContactAction">
		<form data-ng-submit="sendEmail(message)" class="smart-green" >
			<h1>
				Contact Form <span>Please fill all the texts in the fields.</span>
			</h1>
			<label> <span>Your Name :</span> <input
				data-ng-model="message.senderName" placeholder="First name Surname"
				type="text" required />
			</label> <label> <span>Your Email :</span> <input
				data-ng-model="message.senderEmail" placeholder="example@gmail.com"
				type="email" required />
			</label> <label> <span>Message :</span> <textarea
					data-ng-model="message.content" placeholder="Your Message to Us"
					required></textarea>
			</label> <label> <span>&nbsp;</span> <input type="submit"
				class="button" value="Send" />
			</label>
		</form>
    {% endverbatim %}
 </section>





</body>
</html>
